.kontainer {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.simon {
  margin: 0 auto;
  position: relative;
  width: 38em;
  height: 38em;
}

.button {
  position: absolute;
  width: 50%;
  height: 50%;
}

.button.red {
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 100% 0 0 0;
}

.button.red:hover {
  opacity: .5;
  box-shadow: 5px 1px 30px 5px rgba(0, 0, 0, .1);
}

.button.blue {
  top: 0;
  right: 0;
  background-color: blue;
  border-radius: 0 100% 0 0;
}

.button.blue:hover {
  opacity: .5;
  box-shadow: 5px 1px 30px 5px rgba(0, 0, 0, .1);
}

.button.yellow {
  bottom: 0;
  left: 0;
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

.button.yellow:hover {
  opacity: .5;
  box-shadow: 5px 1px 30px 5px rgba(0, 0, 0, .1);
}

.button.green {
  bottom: 0;
  right: 0;
  background-color: green;
  border-radius: 0 0 100% 0;
}

.button.green:hover {
  opacity: .5;
  box-shadow: 5px 1px 30px 5px rgba(0, 0, 0, .1);
}

.center {
  width: 50%;
  height: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
}

.start {
  position: absolute;
  top: 30%;
  left: 31%;
}

.red-light {
  position: absolute;
  top: 40%;
  left: 35%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  border: 5px solid darkgrey;
}

.strict {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.strict-light {
  position: absolute;
  bottom: 30%;
  left: 35%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: yellow;
  border: 5px solid darkgrey;
}

.counter {
  position: absolute;
  top: 37%;
  right: 31%;
  display: flex;
  height: 40px;
  width: 50px;
  align-items: center;
  justify-content: center;
  color: tomato;
  font-size: 28px;
  border-radius: 2px;
  background: rgba(0, 0, 240, 200);
}

.on-off {
  position: absolute;
  bottom: 25%;
  right: 29%;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  border-radius: 3px;
  border: 2px solid darkgrey;
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  margin-left: 4px;
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0px;
  bottom: 5px;
  background-color: red;
  border-radius: 1px;
  -webkit-transition: .4s;
  transition: .4s;
  /* opacity: .8; */
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.on {}

.off {
  background: darkgrey;
  opacity: .3;
}

.credit {
  text-align: right;
}

a {
  color: black !important;
  text-decoration: underline !important;
}

a:hover {
  color: red !important;
  opacity: .5 !important;
}

p {
  margin-bottom: 0px !important;
}

/* @media(max-width: 992px) {
  .container {
    width: 700px;
  }
} */

/* @media(max-width: 768px) {
  .simon {
    width: 20em;
    height: 20em;
  }
} */

/* @media(max-width: 480px) {
  .container {
    width: 350px;
  }
} */